#target{
  width:100%;
}
.bottom_buttons{
  position: relative;
  bottom:80px;
  margin:0 20px;
  height: 50px;
}

.outer_border{
  display: inline-block;
  cursor: pointer;
  z-index:10;
  width:50px;
  height: 50px;
  background-color: rgba(128,128,128,0.2);
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}
.inner_border{
  position: absolute;
  width:40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  margin:5px;
}
.fa-share-alt{
  font-size: 25px;
  color: blue;
  margin:7px;
  padding-right: 3px
}

/* 吹き出し本体 */
.save_message{
  position: relative;
  top:0px;
  padding: 10px;
  background-color: #107b5e;
  color: #ffffff;
  border-radius: 10px;
  background-color: rgba(128,128,128,0.8);
  width:300px;
  text-align:  center;        /* 中央寄せ */
  margin: 0 auto;
  display: none;
}
.fa-check{
  padding-right:5px;  
}

.undo_outer_border{
  float: right;
  opacity: 0.3;
}
.undo_inner_border{
  position: absolute;
  width:40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  margin:5px;
}
.fa-undo{
  font-size: 25px;
  color: blue;
  margin:7px;
  padding-right: 3px
}
.trash_button{
  position: relative;
  bottom:190px;
  margin-right:20px;
  height: 50px;
  float:right;
}
.fa-trash-alt{
  font-size: 22px;
  color: blue;
  margin:7px;
  padding-top:2px;
}